<%= stylesheet_link_tag "credits" %>
<!--stylesheet imported-->
<%= render 'partials/navbar' %>
<!--partial for navbar-->

<h1 class="font-jost text-center fw-bold">File Upload</h1>

<!--credits container div starts -->
<div id="File_container" class="font-jost mt-3">
  <!-- Total sum display -->
  <!-- Questions section -->
  <div>
    <%= form_for :files, url: file_uploads_path do |form| %>
        <div class="mb-3">
        <%= form.fields_for "files[]", FileUpload.new do |upload_fields| %>
            <%= upload_fields.label :file, "First Title", class: "form-label" %>
            <%= upload_fields.file_field :file, class: "form-control numeric-input" %>
        <%end%>
        <%= form.fields_for "files[]", FileUpload.new do |upload_fields| %>
            <%= upload_fields.label :file, "Second Title", class: "form-label" %>
            <%= upload_fields.file_field :file, class: "form-control numeric-input" %>
        <%end%>
        </div>
      <%= form.submit "SUBMIT", class: "btn btn-success" %>
    <% end %>
  </div>
  <!-- End of Questions section -->
</div>