<%= stylesheet_link_tag 'password' %>

<div class="password-reset-container">
  <div class="left-panel">
    <div class="circle-decoration"></div>
    <h1>Change Your Password</h1>
    <p>Enter your new password below. Make sure it's secure and easy for you to remember.</p>
  </div>
  <div class="right-panel">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "password-reset-form" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-field">
        <%= f.label :password, "New password" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "Enter new password" %>
      </div>

      <div class="form-field">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password" %>
      </div>

      <div class="form-actions">
        <%= f.submit "Change my password", class: "btn-primary" %>
      </div>
    <% end %>

    <div class="form-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>