<%= stylesheet_link_tag 'password' %>


<div class="password-reset-container">
  <div class="left-panel">
    <div class="circle-decoration"></div>
    <h1>Reset Your Password</h1>
    <p>Enter your email address and we'll send you instructions to reset your password.</p>
  </div>
  <div class="right-panel">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "password-reset-form" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-field">
        <%= f.label :email, "Email Address" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "your@email.com" %>
      </div>

      <div class="form-actions">
        <%= f.submit "Send Reset Instructions", class: "btn-primary" %>
      </div>
    <% end %>

    <div class="form-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>