<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching Staff Recruitment Portal NITK</title>
    <%= wicked_pdf_stylesheet_link_tag 'extract_pdf_styles' %>
</head>
<body>
    <div class="pdf-container">
        <header class="pdf-header">
            <%= image_tag wicked_pdf_asset_base64("NITK_Emblem.png"), class: 'logo' %>
            <div class="header-text">
                <h1>Teaching Staff Recruitment Portal NITK</h1>
                <p>National Institute of Technology Karnataka, Surathkal</p>
            </div>
        </header>

        <main>
            <div class="top-section">
                <!-- Job Description Section (Left) -->
<section class="job-info">
    <h2>Candidate Details</h2>
    <div class="job-details">
        <% profile_response = response.user.responses.where(profile_response: true).first %>
        <div class="detail-row">
            <p><span>Name of the Department:</span> <strong><%= response.form.department.full_name%></strong></p>
            <p><span>Application No.:</span> <strong><%= response.app_no%></strong></p>
        </div>
        <div class="detail-row">
            <p><span>Position:</span> <strong><%= @response.form.name %></strong></p>
            <% dob_answer = profile_response.answers.joins(:question).find_by(questions: { title: "Date of Birth (DD-MM-YYYY)" }) %>
            <p>
        <span>DOB:</span>
        <strong>
            <%= if dob_answer.try(:content).present?
                  dob = Date.parse(dob_answer.content)
                  dob.strftime("%d-%m-%Y")
                else
                  "Not Entered"
                end
            %>
        </strong>
    </p>
    <p>
        <% if dob_answer.try(:content).present? %>
            <span>Age:</span>
            <strong>
                <%=((Date.today - dob).to_i / 365.25).floor %> years
            </strong>
        <% end %>
    </p>
</div>
        <div class="detail-row">
            <% name_answer = profile_response.answers.joins(:question).find_by(questions: { title: "Name in Full" }) %>
            <p><span>Candidate Name:</span> <strong><%= name_answer ? name_answer.content : "Not Entered" %></strong></p>
        </div>
        <div class="detail-row">
            <p><span>Email:</span> <strong><%= @response.user.email %></strong></p>
            <% pwd_answer = profile_response.answers.joins(:question).find_by(questions: { title: "Are you a PWD candidate" }) %>
            <p><span>PWD:</span> <strong><%= pwd_answer ? pwd_answer.content : "Not Entered" %></strong></p>
        </div>
        <div class="detail-row">
            <% cat_answer = profile_response.answers.joins(:question).find_by(questions: { title: " Category" }) %>
            <p><span>Category:</span> <strong><%= cat_answer ? cat_answer.content : "Not Entered" %></strong></p>
            <p><span>Cumulative Credit Points:</span> <strong><%= @response.credit_score %></strong></p>
        </div>
    </div>
</section>

            </div>


            <!-- Application Details Info -->
            <section class="application-details">
                <h2>Application Details</h2>
            <div class="application-header">
            <div class="header-content">
                <p class="note">NOTE: Information populated here is from the data that you have entered while filling the application</p>

            </div>
        </div>

                <div class="response-container">
                    <% Question.where(is_summary: true).where.not(tab_id: nil).order(:position).each do |question| %>
                        <%answer = Answer.where(response_id: @app_response.id, question_id: question.id).last%>
                        <% if question.question_type_id == 6 %>
                            <div class="mb-3">
                                <label><%= question.title %></label>
                                <table>
                                    <thead>
                                        <tr>
                                            <% question.options.each do |option| %>
                                                <th><%= option.title %></th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%if answer%>
                                            <% content = eval(answer.content) %>
                                            <% content.each_slice(question.options.size) do |chunk| %>
                                                <tr>
                                                    <% chunk.each do |element| %>
                                                        <td><%= element.gsub(/[\[\]\"]/,"") %></td>
                                                    <% end %>
                                                </tr>
                                            <% end %>
                                        <%else%>
                                            <% question.options.each do |option| %>
                                                <td><%=" " %></td>
                                            <% end %>
                                        <%end%>
                                    </tbody>
                                </table>
                            </div>

                        <% elsif question.question_type_id == 3 %>
                            <div class="mb-3">
                                <label><%= question.title %></label>
                                <% if answer%>
                                    <% content = answer.content.gsub(/[\[\]\"]/,"").split(", ") %>
                                    <input readonly value="<%= content %>">
                                <%else%>
                                    <input readonly value=" ">
                                <%end%>
                            </div>
                        <%elsif question.question_type_id == 7 %>
                            <label><%= question.title %></label>
                        <%elsif question.question_type_id == 4%>
                          <div class="mb-3">
                                <label><%= question.title %></label>
                                <div class="content-field"><%= answer ? answer.content : '' %></div>
                        </div>
                        <% elsif question.question_type_id != 9 %>
                            <div class="mb-3">
                                <label><%= question.title %></label>
                                <% if answer%>
                                    <% content = answer.content %>
                                    <input readonly value="<%= content %>">
                                <%else%>
                                    <input readonly value=" ">
                                <%end%>
                            </div>
                        <%end%>
                    <%end%>

                     <% Question.where(form_id: @response.form.id).order(:position).each do |question|%>
                        <%answer = Answer.where(response_id: @response.id, question_id: question.id).last%>
                        <% if question.title == "Highlight important contributions since the last promotion (Academic, Research, Outreach, Service to Profession, Administration):"%>
                        <% if question.question_type_id == 6 %>
                            <div class="mb-3">
                                <label><%= question.title %></label>
                                <table>
                                    <thead>
                                        <tr>
                                            <% question.options.each do |option| %>
                                                <th><%= option.title %></th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%if answer%>
                                            <% content = eval(answer.content) %>
                                            <% content.each_slice(question.options.size) do |chunk| %>
                                                <tr>
                                                    <% chunk.each do |element| %>
                                                        <td><%= element.gsub(/[\[\]\"]/,"") %></td>
                                                    <% end %>
                                                </tr>
                                            <% end %>
                                        <%else%>
                                            <% question.options.each do |option| %>
                                                <td><%= " " %></td>
                                            <% end %>
                                        <%end%>
                                    </tbody>
                                </table>
                            </div>

                        <% elsif question.question_type_id == 3 %>
                            <div class="mb-3">
                                <label><%= question.title %></label>
                                <% if answer%>
                                    <% content = answer.content.gsub(/[\[\]\"]/,"").split(", ") %>
                                    <input readonly value="<%= content %>">
                                <%else%>
                                    <input readonly value=" ">
                                <%end%>
                            </div>
                        <%elsif question.question_type_id == 7 %>
                            <label><%= question.title %></label>
                        <%elsif question.question_type_id == 4%>
                          <div class="mb-3">
                                <label><%= question.title %></label>
                                <div class="content-field"><%= answer ? answer.content : '' %></div>
                        </div>
                        <% elsif question.question_type_id != 9 %>
                            <div class="mb-3">
                                <label><%= question.title %></label>
                                <% if answer%>
                                    <% content = answer.content %>
                                    <input readonly value="<%= content %>">
                                <%else%>
                                    <input readonly value=" ">
                                <%end%>
                            </div>
                        <%end%>
                          <%end%>
                    <%end%>
                </div>
            </section>
        </main>
    </div>
</body>
</html>