 <%= stylesheet_link_tag 'home' %>
 <%= render partial: 'partials/navbar', locals: { user: @user, locale: true } %>


<div class="container-md py-4 px-5 mb-3" style="background-color:rgb(127 172 218 / 16%); border-radius:10px;">
    <%= form_with(model: @response, url: create_response_form_path(id: @user.id), method: :post) do |form| %>
      <h5 class='text-center fw-bold'><%=@tab.title%></h5>
      <% @questions.where(tab_id: @user.tab_no).sort_by(&:position).each do |question| %>
        <div style="margin-bottom: 20px;">
          <% if question.question_type_id == 1 %>
            <label class="form-label"><%= question.title %></label>
            <%= form.text_field :content, name: "response[answers_attributes][#{question.id}][content]", class:'form-control' %>

          <% elsif question.question_type_id == 4 %>
            <label class="form-label"><%= question.title %></label>
            <%= form.text_area :content, name: "response[answers_attributes][#{question.id}][content]", class:'form-control' %>

          <% elsif question.question_type_id == 5 %>
            <label class="form-label"><%= question.title %></label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><%= question.title %></span>
              <%= form.number_field :content, name: "response[answers_attributes][#{question.id}][content]", class:'form-control' %>
            </div>

          <% elsif question.question_type_id == 2 %>
            <label class="form-label"><%= question.title %></label>
            <% question.options.each do |option| %>
              <label>
                <%= form.radio_button :content, option.title, name: "response[answers_attributes][#{question.id}][content]" %>
                <%= option.title %>
              </label>
            <% end %>

          <% elsif question.question_type_id == 3 %>
            <label class="form-label"><%= question.title %></label>
            <% question.options.each do |option| %>
              <label>
                <%= form.check_box :content, { multiple: true, name: "response[answers_attributes][#{question.id}][content][]" }, option.title, nil %>
                <%= option.title %>
                <% if @response && @response.answers.any? { |answer| answer.content.include?(option.title.to_s) } %>
                  <%= hidden_field_tag "response[answers_attributes][#{question.id}][content]", option.title %>
                <% end %>
              </label>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div style="display:flex; justify-content:flex-end;">
        <%= form.submit class:"btn btn-success mt-3"%>
      </div>

    <% end %>
  </div>
