<%= stylesheet_link_tag 'app_profile' %>
<%= stylesheet_link_tag 'home' %>

<div>
    <div class='sidebar'>
        <ul>
            <li>
                <button>
                    Personal Info
                    <%= render partial: 'partials/doneLoader' %>
                </button>
            </li>
            <li>
                <button>
                    Education
                    <%= render partial: 'partials/doneLoader' %>
                </button>
            </li>
            <li>
                <button>
                    Research
                    <%= render partial: 'partials/doneLoader' %>
                </button>
            </li>
            <li>
                <button>
                    Projects
                    <%= render partial: 'partials/doneLoader' %>
                </button>
            </li>
            <li>
                <button id='active'>Legal</button>
            </li>
            <li>
                <button>Verification</button>
            </li>
            <li>
                <button>Experience</button>
            </li>
            <li>
                <button>Contact Info</button>
            </li>
        </ul>
    </div>

    <div class='main_content'>

    </div>
</div>