<%= render partial: 'partials/navbar', locals: { user: @user, locale: true } %>

<%app_group = Hash.new { |h, k| h[k] = [] } %>
<% Response.all
           .select { |response| response.form.present? && response.form.department.title == @user.validator && response.status == "Freezed" }
           .sort_by { |response| response.app_no.to_s.strip }
           .each do |response| %>
  <% app_group[response.form] << response %>
<%end%>
<%if @status == true%>
<div class="container mt-4">
  <%= link_to "Go Back", :back, class: "btn btn-light mb-3" %>
  <%= link_to "Download Credit Data", home_export_to_excel_path, format: :xlsx, class: "btn btn-outline-primary mb-3" %>

  <% app_group.each do |form, responses| %>
    <div class="card mb-4 shadow-sm">
      <div class="card-header bg-light">
        <h5 class="mb-0">Form: <%= form.name %></h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Application ID</th>
                <th scope="col">Credit Score</th>
                <th scope="col">Validate Credits</th>
                <th scope="col">Verified Credits</th>
                <th scope="col">Eligibility</th>
              </tr>
            </thead>
            <tbody>
              <% responses.each do |response| %>
                <tr>
                  <td><%= response.app_no.strip if response.app_no.present? %></td>
                  <td><%= response.credit_score.round(1) %></td>
                  <td><%= link_to "View Response", validate_response_path(id: response.id), class: 'btn btn-outline-secondary btn-sm' %></td>
                  <td><%= response.validated_credit_score ? response.validated_credit_score.round(1) : response.validated_credit_score %></td>
                  <td><%= ['1', 'Yes'].include?(response.eligibility) ? 'Eligible' : (response.eligibility == 'TBD' ? 'To Be Decided' : 'Not Eligible') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer bg-light text-center">
        <%= link_to "Generate Summary Report", admin_dashboard_view_summary_report_path(form_id: form.id, format: :pdf), class: 'btn btn-outline-primary' %>
      </div>
    </div>
  <% end %>
</div>
<%else%>
  <div class="container mt-4">
  <%= link_to "Go Back", :back, class: "btn btn-light mb-3" %>
  <%= link_to "Download Credit Data", home_export_to_excel_path, format: :xlsx, class: "btn btn-outline-primary mb-3" %>

  <% app_group.each do |form, responses| %>
    <div class="card mb-4 shadow-sm">
      <div class="card-header bg-light">
        <h5 class="mb-0">Form: <%= form.name %></h5>
      </div>

      <div class="card-footer bg-light text-center">
        <%= link_to "Generate Summary Report", admin_dashboard_view_summary_report_path(form_id: form.id, format: :pdf), class: 'btn btn-outline-primary' %>
      </div>
    </div>
  <% end %>
</div>
<%end%>