<%= render partial: 'partials/navbar', locals: { user: @user, locale: true } %>

<div class="container">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Application</th>
        <th scope="col">Credit Score</th>
        <th scope="col">Validate Credit Response</th>
        <th scope="col">Credit Requirement </th>
        <th scope="col">Eligibility</th>
      </tr>
    </thead>
    <tbody>
      <% Response.all.each do |response| %>
        <% if response.form.present? && response.form.dept == @user.validator %>
          <tr>
            <% present_response_id = response.id %>
          <% below_responses = Response.where(profile_response: true).where("id < ?", present_response_id) %>
          <% count_below_responses = below_responses.count %>

          <% role = response.form.role %>
          <% dept = response.form.dept %>

            <td><%= "#{role}#{dept}#{1000 + response.id - count_below_responses}" %></td>
            <td><%= response.credit_score %></td>
            <td><%= link_to "Validate Credit Response", validate_response_path(id: response.id), class: 'btn btn-warning btn-sm' %></td>
            <td>
              <% if response.validation == true %>
                <% if response.credit_score >= response.form.credit_req %>
                  <%= "Fulfilled" %>
                <% else %>
                  <%= "Not Fulfilled" %>
                <% end %>
              <% else %>
                <%= "Validation Pending" %>
              <% end %>
            </td>
            <td>
              <% if response.eligibility == true %>
                  <%= "Eligible" %>
              <% else %>
                  <%= "Not Eligible" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
