<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching Staff Recruitment Portal NITK</title>
    <%= wicked_pdf_stylesheet_link_tag 'pdf_styles' %>
</head>
<body>
    <div class="pdf-container">
        <header class="pdf-header">
            <%= image_tag wicked_pdf_asset_base64("NITK_Emblem.png"), class: 'logo' %>
            <div class="header-text">
                <h1>Teaching Staff Recruitment Portal NITK</h1>
                <p>National Institute of Technology Karnataka, Surathkal</p>
            </div>
        </header>

        <main>
            <!-- Job Info -->
            <section class="job-info">
                <h2>Job Description</h2>
                <div class="info-grid">
                    <% present_response_id = response.id %>
                    <% below_responses = Response.where(profile_response: true).where("id < ?", present_response_id) %>
                    <% count_below_responses = below_responses.count %>
                    <% role = response.form.role %>
                    <% dept = response.form.dept %>

                    <p>Application ID: <strong><%= "#{role}#{dept}#{1000 + response.id - count_below_responses}" %></strong></p>
                    <p>Role: <strong><%= @response.form.role %></strong></p>
                    <p>Pay Level: <strong><%= @response.form.salary %> LPA</strong></p>
                    <p>Recruiting Department: <strong><%= @response.form.dept %></strong></p>
                </div>
            </section>

            <!-- Application Details Info -->
            <section class="application-details">
                <h2>Application Details</h2>
                <p class="note">NOTE: Information populated here is from the data that you have entered while filling the application</p>

                <div class="response-container">
                    <% @app_response.answers.sort_by { |answer| answer.question.position }.each do |answer| %>
                        <% if answer.question.question_type_id == 6 %>
                            <div class="mb-3">
                                <label><%= answer.question.title %></label>
                                <table>
                                    <thead>
                                        <tr>
                                            <% answer.question.options.each do |option| %>
                                                <th><%= option.title %></th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% content = eval(answer.content) %>
                                        <% content.each_slice(answer.question.options.size) do |chunk| %>
                                            <tr>
                                                <% chunk.each do |element| %>
                                                    <td><%= element.gsub(/[\[\]\"]/,"") %></td>
                                                <% end %>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        <% elsif answer.question.question_type_id == 3 %>
                            <div class="mb-3">
                                <label><%= answer.question.title %></label>
                                <% content = answer.content.gsub(/[\[\]\"]/,"").split(", ") %>
                                <input readonly value="<%= content %>">
                            </div>
                        <% elsif answer.question.question_type_id != 9%>
                            <div class="mb-3">
                                <label><%= answer.question.title %></label>
                                <% content = answer.content %>
                                <input readonly value="<%= content %>">
                            </div>
                        <% end %>
                    <% end %>

                    <% @response.answers.sort_by { |answer| answer.question.position  }.each do |answer| %>
                        <% if answer.question.question_type_id == 6 %>
                            <div class="mb-3">
                                <label><%= answer.question.title %></label>
                                <table>
                                    <thead>
                                        <tr>
                                            <% answer.question.options.each do |option| %>
                                                <th><%= option.title %></th>
                                            <% end %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% content = eval(answer.content) %>
                                        <% content.each_slice(answer.question.options.size) do |chunk| %>
                                            <tr>
                                                <% chunk.each do |element| %>
                                                    <td><%= element.gsub(/[\[\]\"]/,"") %></td>
                                                <% end %>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        <% elsif answer.question.question_type_id == 3 %>
                            <div class="mb-3">
                                <label><%= answer.question.title %></label>
                                <% content = answer.content.gsub(/[\[\]\"]/,"").split(", ") %>
                                <input readonly value="<%= content %>">
                            </div>
                        <% elsif answer.question.question_type_id != 9 %>
                            <div class="mb-3">
                                <label><%= answer.question.title %></label>
                                <% content = answer.content %>
                                <input readonly value="<%= content %>">
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </section>
        </main>
    </div>
</body>
</html>