<%= render partial: 'partials/navbar', locals: { user: @user, locale: true } %>
<%= stylesheet_link_tag "submit_form" %>
<div class="container-md">

  <h1 class="text-center fw-bold mt-4 mb-4"><%= @form.name %></h1>

  <div class="row mb-3">
    <div class="col-md-6 mb-3 mb-md-0">
      <div class="alert alert-info h-75" role="alert">
        <b>Role</b>: <%= @form.role %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert alert-success h-75" role="alert">
        <b>Department</b>: <%= @form.department.title %>
      </div>
    </div>
  </div>


  <div class="form-container py-4 px-4 px-md-5 mb-3">
    <%= form_with(model: @response, url: update_response_form_path(form_id: @form.id, id: @response.id), method: :post, class: "needs-validation", novalidate: true) do |form| %>
      <% @questions.sort_by(&:position).each do |question| %>
        <div class="mb-4">
          <label class="form-label fw-bold"><%= question.title %></label>
          <% if question.title == "Processing fees Details"%>
          <p>If SC, ST & PwD candidate, then enter 0 in UTR and amount field. In the Attachments add relevent certificate in pdf format.<p>
          <%end%>

          <% case question.question_type_id %>
          <% when 1 %>
            <%= form.text_field :content, name: "response[answers_attributes][#{question.id}][content]", class: 'form-control',required: question.mandatory %>

          <% when 4 %>
            <%= form.text_area :content, name: "response[answers_attributes][#{question.id}][content]", class: 'form-control',required: question.mandatory %>

          <% when 8 %>
            <%= form.date_field :content, name: "response[answers_attributes][#{question.id}][content]", class: 'form-control',required: question.mandatory %>

          <% when 9 %>
              <%= form.file_field :file, name: "response[answers_attributes][#{question.id}][file]", class: 'form-control' , required: question.mandatory, accept: ".pdf"%>

          <% when 5 %>
            <div class="input-group">
              <span class="input-group-text"><%= question.title %></span>
              <%= form.number_field :content, name: "response[answers_attributes][#{question.id}][content]", class: 'form-control',required: question.mandatory %>
            </div>

          <% when 6 %>
            <div class="table-responsive">
              <table class="table option-table" id="option_table_<%= question.id %>">
                <thead>
                  <tr>
                    <% question.options.each do |option| %>
                      <th><%= option.title %></th>
                    <% end %>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% question.options.each do |_option| %>
                      <td>
                        <%= form.text_field :content, name: "response[answers_attributes][#{question.id}][content][]", class: 'form-control', placeholder: "Enter your details" %>
                      </td>
                    <% end %>
                    <td>
                      <button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteTableRow(this)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button type="button" class="btn btn-outline-primary btn-sm mt-2" onclick="addTableRow('<%= question.id %>')">Add Row</button>

          <% when 2 %>
            <div class="radio-group">
              <% question.options.each do |option| %>
                <div class="form-check">
                  <%= form.radio_button :content, option.title, name: "response[answers_attributes][#{question.id}][content]", class: "form-check-input",required: question.mandatory %>
                  <%= form.label :content, option.title, class: "form-check-label" %>
                </div>
              <% end %>
            </div>

          <% when 3 %>
            <div class="checkbox-group">
              <% question.options.each do |option| %>
                <div class="form-check">
                  <%= form.check_box :content, { multiple: true, name: "response[answers_attributes][#{question.id}][content][]", class: "form-check-input" }, option.title, nil %>
                  <%= form.label :content, option.title, class: "form-check-label" %>
                  <% if @response && @response.answers.any? { |answer| answer.content.include?(option.title.to_s) } %>
                    <%= hidden_field_tag "response[answers_attributes][#{question.id}][content]", option.title %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="text-end">
        <%= form.submit "Submit", class: "btn btn-success mt-3" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  function addTableRow(questionId) {
    var table = document.getElementById('option_table_' + questionId);
    var newRow = table.insertRow(-1); // Insert new row at the end of the table
    var optionsCount = table.rows[0].cells.length - 1; // Number of options excluding the Action column
    for (var i = 0; i < optionsCount; i++) {
      var newCell = newRow.insertCell(i);
      newCell.innerHTML = '<input type="text" name="response[answers_attributes][' + questionId + '][content][]" class="form-control" placeholder="Enter your details">';
    }
    var deleteCell = newRow.insertCell(optionsCount);
    deleteCell.innerHTML = '<button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteTableRow(this)">Delete</button>';
  }

  function deleteTableRow(button) {
    var row = button.parentNode.parentNode;
    row.parentNode.removeChild(row);
  }
</script>